@model List<CarEvaluation>

@{
    ViewData["Title"] = "Car Evaluations";
}

<h1>Car Evaluations</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @* For each column, display the display name of the property from the model *@
                @Html.DisplayNameFor(model => model[0].CarEvaluationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CarID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].MechanicID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].EvaluationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].EvaluationSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CarValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].EvaluationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* Loop through each item in the Model, which is a list of CarEvaluation *@
                <td>
                    @Html.DisplayFor(modelItem => item.CarEvaluationID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MechanicID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvaluationStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvaluationSummary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvaluationDate)
                </td>
                <td>
                    @* Links for 'Details' and 'Edit' actions for each item *@
                    <a asp-action="Details" asp-route-id="@item.CarEvaluationID" class="btn btn-primary">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.CarEvaluationID" class="btn btn-warning">Edit</a>
          
                </td>
            </tr>
        }
    </tbody>
</table>
