<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Car Detauks - Honest Auto</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="~/css/pikaday.min.css">
</head>

<body>
    <main class="page contact-page">
        <section class="portfolio-block contact">
            <div class="container">
                <div class="heading">
                    <h2>Evaluation Details&nbsp;</h2>
                </div>
                <form class="shadow-lg" data-bs-theme="light">
                    <p><strong>User Name:</strong> @Model.UserName</p>
                    <p><strong>Email:</strong> @Model.Email</p>
                    <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
                    <p>
                        <strong>Role:</strong>
                        @foreach (var role in ViewBag.Roles)
                        {
                            @role
                        }
                    </p>



                    <div>
                        @if (User.IsInRole("Admin"))
                        {
                            <button type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</button>
                            <!-- Button to go back to the car list -->
                            <a asp-action="Index" asp-controller="User" class="btn btn-secondary">Back to List</a>
                        }

                        <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("ViewUserCars", "Car", new { userId = Model.Id })'">View User's Cars</button>

                        @if (User.IsInRole("Buyer"))
                        {
                            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("ChatWithUser", "Chat", new { receiverId = Model.Id })'">Message User</button>
                        }
                    </div>
                </form>
            </div>
        </section>
    </main>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/pikaday.min.js"></script>
    <script src="~/js/theme.js"></script>
</body>

</html>
