@model HonestAuto.Models.CarEvaluation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CarEvaluation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MechanicID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MechanicID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaluationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaluationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaluationSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaluationSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaluationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaluationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarValue)
        </dd>
  
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CarEvaluationID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
