@model IEnumerable<HonestAuto.Models.CarEvaluation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MechanicID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarValue)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MechanicID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarValue)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarEvaluationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarEvaluationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarEvaluationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
