@model IEnumerable<HonestAuto.Models.Car>

@{
    ViewData["Title"] = "Cars List";
}

<h1>Cars</h1>

<table class="table">
    <caption>Car Inventory Table: Browse, Edit, and Delete Car Listings</caption>
    <thead>
        <tr>
            <th>Car ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Mileage</th>
            <th>History</th>
            <th>User ID</th>
            <th>User ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.CarID</td>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.Mileage</td>
                <td>@car.History</td>
                <td>@car.UserID</td>
                <td>
                    @if (car.CarImage != null && car.CarImage.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(car.CarImage)" style="width:100px; height:auto;" alt="Car image" />

                    }
                    else
                    {
                        <text>No Image</text>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@car.CarID" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@car.CarID" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@car.CarID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Create New Car</a>

